<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285615136885-c67lsdt6a8n0gmjrtcptg59ujhfp40ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285615136885-c67lsdt6a8n0gmjrtcptg59ujhfp40ee</string>
	<key>API_KEY</key>
	<string>AIzaSyC1vAaMbdb4u-nGGr1HyPyABwhUfnWuh1k</string>
	<key>GCM_SENDER_ID</key>
	<string>285615136885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendzone</string>
	<key>PROJECT_ID</key>
	<string>friendzone-3545a</string>
	<key>STORAGE_BUCKET</key>
	<string>friendzone-3545a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285615136885:ios:a1ae401d833b6c720e183c</string>
</dict>
</plist>